<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    {% if mensajes %}
        {% for mensaje in mensajes %}
            <p>{{ mensaje.nombre }}: {{ mensaje.mensaje }} [{{ mensaje.hora }}]</p>
        {% endfor %}
    {% else %}
        <p>No hay mensajes</p>
    {% endif %}
    <form action="/saludo" method="post">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="mensaje">Mensaje:</label>
        <input type="text" id="mensaje" name="mensaje">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>